<div *ngIf="validated" class="container" style="margin-top: 100px; text-align: center;">
            <div class="success-icon">✓</div>
            <h4 class="message">Your email has been successfully validated. You can now access all features of Billminder.</h4>
            <ng-container *ngIf="(accountService.currentUser$ | async) == null">
            <a href="https://billminder.com.br">Return to Home</a>
            </ng-container>    

</div>
<div *ngIf="error" class="container" style="margin-top: 100px; text-align: center;"> 
            <h4>There was an error when validating your email</h4>
            <p class="lead">Please contact our support for more details</p>
            <a href="https://billminder.com.br">Return to Home</a>
</div>